@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');
body{
    margin:0;
    padding:0;
    background:none;
    position: static;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Mono', monospace;
}
nav .profile-link a{
    color:black;
}
.blogs-button{
    border: 1px #41cfac solid;
    padding: 10px 20px;
    font-size: 13px;
}

/*------------------------------------------------------------ grid-container */

.grid-container{
    max-width: 1150px;
    margin:auto;
}
/*------------------------------------------------------------ main section "blogs-news-container" */

.blogs-news-container{
    height: 29rem;
    background-color: #E6E9ED;
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding: 0px 50px;
}
.blogs-news-img-container img{
    width: 73%;
}
.blogs-news-info-container h2{
    font-size:50px;
}
.blogs-news-info-container p{
    margin-bottom: 40px;
    font-size: 14px;
}
/*------------------------------------------------------------ h3 "blog-post-title" */
.blog-posts-title h3{
    text-align: center;
    font-size:20px;
    margin:0px 50px;
    margin-top:40px;
    padding-bottom: 20px;
    border-bottom: 3px #E6E9ED solid;
}
/*------------------------------------------------------------ main section "blogs-posts-container" */
.blogs-posts-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.post-container{
    width: 350px;
    margin:25px 15px;
}
.post-container img{
    width: 100%;
}
.post-container h4{
    font-size: 24px;
    margin:10px 0px;
}
.post-container p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

/*------------------------------------------------------------ footer */

footer{
    height: 60px;
    background-color: #23282D;
    display: flex;
    justify-content: center;
    border-top:30px #41cfac solid;
}
footer p{
    color:white;
}

/*--------------------------------------------------------------------------------------------- blog.html */

.blogpost-img-container{
    padding:0 50px 40px;
}
.blogpost-img-container img{
    width: 100%;
}

.blogpost-main-container{
    padding: 0 50px 40px;
}
.blogpost-main-container h3{
    border-bottom: 2px solid #e6e9ed;
    padding-bottom: 20px;
}
.blogpost-main-container h1{
    font-size:35px;
}

.contact-main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#e6e9ed ;
}
.contact-main{
    display: flex;
    padding: 50px;
}
.contact-main-container img{
    width: 14%;
    padding-right: 10px;
    margin-bottom: 50px;
}
.contact{
    text-align: initial;
    width: 49%;
}
.contact a{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
